<head>
<!-- Google tag (gtag.js) - Add your Google tag below -->
<!-- End Google tag -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=yes">
  {% assign page_desc = page.description | default: site.description %}
  {% if page.title %}
    {% assign seo_title = page.title | append: " | " | append: site.title %}
  {% else %}
    {% assign seo_title = site.title %}
  {% endif %}
  <meta name="title" content="{{ seo_title }}">
  <meta name="description" content="{{ page_desc }}">
  {% if page.robots %}
  <meta name="robots" content="{{ page.robots }}">
  {% endif %}
  <!-- Primary Meta Tags -->

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:title" content="{{ seo_title }}">
  <meta property="og:description" content="{{ page_desc }}">
  <meta property="og:image" content="{{ "/social_916x509.jpg" | absolute_url }}">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ page.url | absolute_url }}">
  <meta property="twitter:title" content="{{ seo_title }}">
  <meta property="twitter:description" content="{{ page_desc }}">
  <meta property="twitter:image" content="{{ "/social_916x509.jpg" | absolute_url }}">


  <meta name="author" content="{{ site.author }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FinancialService",
    "name": "Duces Capital",
    "alternateName": "",
    "description": "{{ site.description }}",
    "url": "{{ site.url }}",
    "logo": "{{ site.logo.path | absolute_url }}",
    "image": "{{ "/social_916x509.jpg" | absolute_url }}",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Glenwood, Durban",
      "addressRegion": "KwaZulu-Natal",
      "addressCountry": "ZA"
    },
  "telephone": "+27692164338",
    "email": "info@ducescapital.co.za",
    "areaServed": "ZA",
    "serviceType": ["Bond Origination", "Property Finance", "Home Loan Finance", "Investment Property Finance"],
    "provider": {
      "@type": "Organization",
      "name": "Duces Capital",
      "jobTitle": "Property Finance Specialists"
    }
  }
</script>

  <title>{{ seo_title }}</title>

  <link rel="icon" href="{{ site.baseurl }}/favicon.png" type="image/png">
  <link rel="stylesheet" href="{{ site.baseurl | append: "/assets/bundle.css" | relative_url }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lora:wght@400&family=Merriweather:wght@900&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet" type="text/css">

  <script src="{{ site.baseurl | append: "/assets/bundle.js" | relative_url }}" defer></script>
  <script>var baseurl = "{{ "" | relative_url }}";</script>

  <!-- Page container change top padding when nav shrinks -->
  {% if page.layout == "page" and page.hero_under_nav != true %}
  <style>
    #pagecontainer {padding-top: 150px;}
	@media only screen and (max-width: 991px) {
	  #pagecontainer {padding-top: 100px;}
	}
  </style>
  {% endif %}
  
</head>
